<div class="product_list">
  <ul class="list-group"  *ngFor="let product of product">
    <li class="list-group-item">
      <input
        class="form-check-input me-4"
        type="checkbox"
        value=""
        aria-label="..."
      />
      <span class="sku">{{ product.id }}</span> <br />
      <span class="name">{{ product.name }}</span> <br />
      <span class="price">{{ product.price }}</span> <br />
      <span class="attribute">{{ product.description }}</span>
    </li>
  </ul>
</div>
