<div class="product_list">
  <ul class="list-group">
    <li class="list-group-item">
      <input
        class="form-check-input me-4"
        type="checkbox"
        value=""
        aria-label="..."
      />
      <span class="sku">sku</span> <br />
      <span class="name">name</span> <br />
      <span class="price">price</span> <br />
      <span class="attribute">attribute</span>
    </li>
  </ul>

  <ul class="list-group">
    <li class="list-group-item">
      <input
        class="form-check-input me-4"
        type="checkbox"
        value=""
        aria-label="..."
      />
      <span class="sku">sku</span> <br />
      <span class="name">name</span> <br />
      <span class="price">price</span> <br />
      <span class="attribute">attribute</span>
    </li>
  </ul>
</div>
